// fonts
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans:200,300,400|IBM+Plex+Serif');
$base-font-family: 'IBM Plex Serif', serif;
$heading-font-family: 'IBM Plex Sans', sans-serif;
$code-font-family: 'IBM Plex Mono', monospace;

html {
  color: $base-font-color;
  background: $background-color;
  font-family: $base-font-family;
  font-size: 100%;
  line-height: $base-line-height;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
}

code {
  font-family: $code-font-family;
}

nav {
  font-family: $heading-font-family;
}
