$color1: #F7FBFE;
$color2: #B51F5C;
$color3: #214368; 
$color4: #FF7E00;
$color5: #592381;
$color6: #36393E;

$background-color: #FFF;
$base-font-color: $color1;
$links-color: $color4;
$header-background-color: $color4;
$header-font-color: $color1;
