body {
  margin: 0;
  background-color: $color3;
}

section#container {
  @include outer-container;
}

code {
  white-space: pre-wrap; /* force long lines to break */  
}

a, a:visited, a:hover {
  color: $links-color;
  text-decoration: none;
}
