body {
  margin: 0 10px;
}

header, footer {
  @include outer-container;
}

section#container {
  @include outer-container;
  padding: 2em 0 0 0;
}

code {
  white-space: pre-wrap; /* force long lines to break */  
}

a {
  color: $action-color;
}
