header {
  background-color: $header-background-color;
  padding: 0 1em;

  nav {
    a, a:hover, a:visited {
      text-decoration: none;
      color: $header-font-color;
      font-weight: 300;
      letter-spacing: 0.1em;
      border-bottom: 1px solid transparent;    
      transition: all .2s ease-in;
    }

    a:hover {
      border-bottom: 1px solid $header-font-color;    
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        vertical-align: middle;
        font-size: 1em;
        padding: 1em 1.5em 1em 0em;

        img {
          width: 2.5em;
          position: relative;
          bottom: -4px;
        }
      }

      li:first-child a:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
}
