<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} &raquo; SuperCollider</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- fav and touch icons -->
    <link rel="icon" href="/images/favicon.png">
    <link rel="apple-touch-icon" href="/images/favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon.png">
    <meta name="theme-color" content="#ffffff">

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>
    {% include header.html %}

    <section id="container">
      {{ content }}
    </section>

    {% include footer.html %}
    {% include JB/analytics %}
  </body>
</html>
