---
layout: default
---

<section id="logo">
  <img src="/assets/images/logo_purple_white.png">
  <h2>
    <span id="super">Super</span><span id="collider">Collider</span>
  </h2>
  <a href="https://github.com/supercollider/supercollider/releases" class="button">
    download latest version V3.10.2 (February 9th, 2019)
  </a>
</section>

<section id="whatissc">
  <h2>
    SuperCollider is a platform for <strong>audio synthesis</strong> and <strong>algorithmic composition</strong>, used by musicians, artists, and researchers working with sound.
  </h2>
  <h2>
    It is free and <strong>open source</strong> software available for Windows, macOS, Linux and embedded platforms.
  </h2>
</section>

{{ content }}
