---
layout: default
---

<section id="logo">
  <img src="/assets/images/logo_purple_white.png">
  <h2>
    <span id="super">Super</span><span id="collider">Collider</span>
  </h2>
  <a href="https://github.com/supercollider/supercollider/releases" class="button">
    download latest version V3.10.2 (February 9th, 2019)
  </a>
</section>

<section id="whatissc">
  <p>
    SuperCollider is a platform for <strong>audio synthesis</strong> and <strong>algorithmic composition</strong>, used by musicians, artists, and researchers working with sound. It is free and <strong>open source</strong> software available for Windows, macOS, Linux and embedded platforms.
  </p>
</section>

<section id="learn">
  <h2>
    Learn
  </h2>
  <h3>
    Tutorials
  </h3>
  <p>
    There are plenty of books and tutorials to learn SuperCollider, here are a few to get you started.
  </p>
</section>

<section id="wip">
  {{ content }}
</section>
